name: Paivita Osakehinnat
on:
  schedule:
    - cron: '0 * * * *' # Päivitys kerran tunnissa
  workflow_dispatch: # Sallii manuaalisen käynnistyksen

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Hae hinnat suoraan Google Sheetsistä
        run: |
          # Tämä curl-komento hakee valmiin JSON-datan Sheets-scriptistäsi
          curl -L "https://script.google.com/macros/s/AKfycbwe2FdM3rspxWFSuyToUvchoTjkkQco7zdkL0DBb78djKA0oVr4IblgvzL5sUcaB9nN/exec" -o hinnat.json

      - name: Tallenna muutokset GitHubiin
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git add hinnat.json
          git commit -m "v54 Masterpiece: Hintapäivitys haettu Sheetsistä" || exit 0
          git push
